h1 {
    color: blue;
    background-color: yellow;
}

.robot-head {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
}

.robot-eye-1 {
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.robot-eye-2 {
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 60px;
    top: 20px;
}

.robot-mouth {
    background-color: white;
    height: 20px;
    width: 60px;
    position: absolute;
    top: 60px;
    left: 20px;
}